<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="StreamInspector" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="054d04f5-4b77-400c-9b02-5274a31eccdb">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
